* {
  margin: 0;
  padding: 0; }

.main {
  font: 16px/18px Arial, sans-serif;
  width: 190px;
  border: 1px solid #737070;
  padding: 14px;
  background-color: #19446b;
  color: white; }
  .main__title {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 27px; }
  .main .popup__wrapper {
    padding: 10px 0; }
  .main .popup__link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    padding: 0 0 0 28px;
    margin-bottom: 10px; }
    .main .popup__link:before {
      content: "";
      position: absolute;
      left: 0%;
      top: 50%;
      margin-top: -8px;
      background: url(../img/arrow.png);
      background-size: cover;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      transition: all 0.3s cubic-bezier(0.4, 0, 1, 1); }
    .main .popup__link:hover {
      text-decoration: underline; }
      .main .popup__link:hover:before {
        transform: scale(1.2); }

.alert-wrapper__box {
  position: absolute;
  display: block;
  width: 16%;
  font-size: 16px;
  top: 0;
  right: 10%;
  z-index: 999;
  border: 1px solid #4C84B5; }
.alert-wrapper__panel {
  background-color: #19446b;
  padding: 6px;
  text-align: right;
  border-bottom: 1px solid #4C84B5; }
.alert-wrapper__close {
  cursor: pointer;
  padding: 17px;
  color: white; }
.alert-wrapper__content {
  text-align: center;
  padding: 25px 10px;
  color: #19446b;
  background: white; }

.inject-icon {
  width: 17px;
  height: 17px;
  margin: 0 10px -2px 0; }

/*# sourceMappingURL=style.css.map */
