@import "reset"

$grey-color: #737070
$red-color: #9a0d0d
$blue-color: #19446b
$lighten-blue-color: #4C84B5

.main
    font: 16px/18px Arial, sans-serif
    width: 190px
    border: 1px solid $grey-color
    padding: 14px
    background-color: $blue-color
    color: white
    &__title
        font-size: 18px
        text-align: center
        text-transform: uppercase
        line-height: 27px
    .popup
        &__wrapper
            padding: 10px 0
        &__link
            display: block
            text-decoration: none
            cursor: pointer
            position: relative
            color: #fff
            padding: 0 0 0 28px
            margin-bottom: 10px
            &:before
                content: ''
                position: absolute
                left: 0%
                top: 50%
                margin-top: -8px
                background: url(../img/arrow.png)
                background-size: cover
                display: inline-block
                width: 16px
                height: 16px
                margin-right: 10px
                transition: all 0.3s cubic-bezier(0.4, 0, 1, 1)
            &:hover
                text-decoration: underline
                &:before
                    transform: scale(1.2)

.alert-wrapper
    //style="position: absolute; display: block; width: 16%; font-size: 16px; top: 0; right: 10%; padding: 0; color: #3c763d; background-color: #dff0d8; z-index: 999; border: 1px solid #4C84B5;"
    &__box
        position: absolute
        display: block
        width: 16%
        font-size: 16px
        top: 0
        right: 10%
        z-index: 999
        border: 1px solid $lighten-blue-color

    &__panel
        background-color: $blue-color
        padding: 6px
        text-align: right
        border-bottom: 1px solid $lighten-blue-color
    &__close
        cursor: pointer
        padding: 17px
        color: white
    &__content
        text-align: center
        padding: 25px 10px
        color: $blue-color
        background: white

.inject-icon
    width: 17px
    height: 17px
    margin: 0 10px -2px 0